<%= simple_form_for @tenant, url: url, authenticity_token: true, html: { method: method, class: "form" } do |f| %>
  <% if @tenant.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>There was an error saving the record:</strong>
      <ul>
        <% @tenant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
  <div class="pl-lg-4">

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :firstname, class: "form-control-label" %><br />
          <%= f.text_field :firstname, autofocus: true, label: "Nom de famille", autocomplete: "firstname", class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :lastname, class: "form-control-label" %><br />
          <%= f.text_field :lastname, autofocus: true, label: "Prénom(s)", autocomplete: "lastname", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.input :email, autofocus: true, label: "Email", autocomplete: "email", class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.input :phone_number, as: :numeric, label: "Téléphone", autofocus: true, autocomplete: "phone_number", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
            <%= f.input :identity_number, autofocus: true, autocomplete: "indentity_number", class: "form-control" %>
            </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.input :profession, autofocus: true, autocomplete: "profession", class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
              <% I18n.with_locale(:fr) do %>
                <%= f.input :country_code, label: "Nationalité", priority_countries: ["SN", "FR", "DE"] %>
              <% end %>
            </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <%= f.input :date_of_birth, 
            as: :string, 
            html5: true,
            label: "Date de naissance", 
            class: "form-control" %>
          </div>
        </div>
    </div>

    


    
    <div class="pl-lg-4">
        <div class="row">
        <div class="col-lg-6">
            <%= link_to tenants_path, class: "btn btn-outline-default" do %>
            Annuler
            <% end %>
            <%= f.submit "Enregistrer", class: "btn  btn-primary" %>
        </div>
        <div class="col-lg-6"></div>
        </div>
    </div>

  </div>
<% end %>