<div class="card card-profile">
  <%= image_tag "https://res.cloudinary.com/finelunch/image/upload/v1619001433/mini-background_azdb5k.jpg", class: "card-img-top", alt: "Image placeholder" %>
  <div class="row justify-content-center">
    <div class="col-lg-3 order-lg-2">
      <div class="card-profile-image">
        <a href="#">
          <% if tenant.avatar? %>
            <%= image_tag tenant.avatar_url, class: 'rounded-circle' %>
          <% else %>
            <%= image_tag "https://res.cloudinary.com/finelunch/image/upload/v1619019772/avatar-3637425_1280_hsbuvr.png", class: "rounded-circle" %>
          <% end %>
        </a>
      </div>
    </div>
  </div>
  <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
  </div>
  <div class="card-body pt-0">
    <div class="row">
      <div class="col">
        <div class="card-profile-stats d-flex justify-content-center">
          <div>
            <span class="description">Telephone</span>
            <span class="heading"><%= tenant.phone_number  %></span>
          </div>
          <div>
            <span class="description">Profession</span>
            <span class="heading"><%= tenant.profession %></span>
          </div>
          <div>
            <span class="description">status</span><br/>
            <span class="badge <%= tenant_status_class(tenant)%>">
                <%= Tenant.human_enum_name(:status,tenant.status ) %>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <h5 class="h3">
        <%= tenant.full_name %><span class="font-weight-light"></span>
      </h5>
      <div class="h5 font-weight-300">
        <i class="ni location_pin mr-2"></i><%= tenant.identity_number %>
      </div>
      <div class="h5 mt-4">
        <span class="description">Addresse : </span>
        <i class="ni business_briefcase-24 mr-2"></i><%= paiement.apartment.address %>
      </div>
      <div>
        <i class="ni education_hat mr-2"></i>Agence Immo Sen
      </div>
    </div>
  </div>
</div>
