<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <%= render partial: 'shared/header', locals: {
                    icon: 'money',
                    breadcrumb_1: 'Paiements',
                    breadcrumb_2: 'Liste',
                    main_url: paiements_path,
                    breadcrumb_url: '#'
                }
            %>
        </div>
    </div>
</div>

<div class="container-fluid mt--6">
    <div class="row">
        <div class="col col-sm">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row mb-2">
                        <div class="col-12 col-lg-6">
                            <% if notice %>
                                <%= render partial: 'shared/alerts/dismissable', locals: {
                                    message: notice,
                                    icon_class: 'ni ni-like-2',
                                    alert_type: 'alert-success',
                                    dismissible: true
                                } %>
                            <% end %>
                        </div>
                    </div>
                    <h3 class="mb-0">Liste des Paiements </h3>
                    <div class="text-right">
                        <%= link_to new_paiement_path, class:"btn btn-sm btn-primary" do  %>
                            <i class="fa fa-plus"></i> Ajouter
                        <% end %>
                    </div>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <div class="col-sm-2 mb-3">
                        <select id="per_page_select" class="form-control">
                            <option>select option</option>
                            <% [10, 20, 50, 100].each do |per_page| %>
                                <option><%= per_page %></option>
                            <% end %>
                        </select>
                    </div>
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">N-</th>
                                <th scope="col">Locataire</th>
                                <th scope="col">Appartement</th>
                                <th scope="col">Periode</th>
                                <th scope="col">loyer</th>
                                <th scope="col">date de paiement</th>
                                <th scope="col">Solde</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @paiements.each_with_index do |paiement, index| 
                                edit_link = edit_paiement_path(paiement)
                                show_link = paiement_path(paiement)
                            %>
                                <tr>
                                    <th scope="row">
                                        <%= index + 1 %>
                                    </th>
                                    <td>
                                        <%= paiement.tenant.full_name %>
                                    </td>
                                    <td>
                                        <%= paiement.apartment.address %>
                                    </td>
                                    <td>
                                        <%= display_date(paiement.period, :month) %>
                                    </td>
                                    <td>
                                        <%= paiement.amount %>
                                    </td>
                                    <td>
                                        <%= display_date(paiement.created_at, :long) %>
                                    </td>
                                    <td class="d-flex justify-content-between">
                                        <%= paiement.solde %>
                                        <span class="<%= tenant_paiement_class(paiement)%> mr-2"><i class="fa <%= tenant_paiement_icon(paiement)%>"></i></span>
                                    </td>
                                    <td class="text-right">
                                        <%= link_to edit_link, class: "btn btn-sm btn-icon-only text-info", role:"button" do %>
                                            <%= fa_icon 'edit' %>
                                        <% end %>
                                        <a class="btn btn-sm btn-icon-only text-danger button-delete" 
                                            href="javascript:;" 
                                            role="button"
                                            modal-element-title="le paiement de Mr/Mme "
                                            modal-element="<%= paiement.tenant.full_name %>"
                                            modal-url="<%= show_link %>">
                                            <%= fa_icon 'trash' %>
                                        </a>
                                    </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <%= paginate @paiements %>
                <%= render  "shared/delete_modal" %>
            </div>
        </div>
    </div>
</div>

