<%= form_for(user, as: user, url: update_profile_path(user), html: { method: :put }) do |f| %>
  <%#= render "devise/shared/error_messages", resource: user %>
  <%= render "shared/error_message", ressource: user %>
  <h6 class="heading-small text-muted mb-4">User information</h6>
  <div class="pl-lg-4">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
            <%= f.label :email, class: "form-control-label" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", disabled: true, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :firstname, class: "form-control-label" %><br />
          <%= f.text_field :firstname, autofocus: true, autocomplete: "firstname", class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :lastname, class: "form-control-label" %><br />
          <%= f.text_field :lastname, autofocus: true, autocomplete: "lastname", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :phone_number, class: "form-control-label" %><br />
          <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <%= f.label :address, class: "form-control-label" %><br />
          <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg">
        <div class="custom-file">
          <%= f.label :avatar, class: "custom-file-label", label: "Choisissez l'avatar" %>
          <%= f.file_field :avatar, class: "custom-file-input" %>
        </div>
      </div>
    </div>
    <hr class="my-4" />

    <div class="pl-lg-4">
      <div class="row">
        <div class="col-lg-6 text-left">
          <%= link_to dashboard_path, class: "btn btn-outline-default" do %>
            Annuler
          <% end %>
          <%= f.submit "Enregistrer", class: "btn  btn-primary" %>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>

  </div>
<% end %>